<div class="rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]">

    <!-- HEADER -->
    <div class="flex flex-col gap-2 px-5 mb-4 sm:flex-row sm:items-center sm:justify-between sm:px-6">

        <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
            Gestión de Usuarios
        </h3>

        <app-button
            size="sm"
            (btnClick)="addUserModal()"
        >
            + Nuevo usuario
        </app-button>

    </div>

    <!-- MODAL -->
    <div class="overflow-hidden">

        <app-modal
            [isOpen]="addUserIsOpen"
            (close)="closeAddUser()"
            className="max-w-[584px] p-5 lg:p-10"
        >

            <form>

                <h4 class="mb-6 text-lg font-medium text-gray-800 dark:text-white/90">
                    Nuevo usuario
                </h4>

                <div class="grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2">

                    <!-- NOMBRE -->
                    <div class="col-span-1 sm:col-span-2">

                        <app-label>
                            Nombre Completo
                        </app-label>

                        <app-input-field
                            [value]="userName"
                            (valueChange)="userName = $event.toString()"
                            type="text"
                            placeholder="Carlos García"
                        />

                    </div>

                    <!-- EMAIL -->
                    <div class="col-span-1 sm:col-span-2">

                        <app-label>
                            Correo
                        </app-label>

                        <app-input-field
                            [value]="userEmail"
                            (valueChange)="userEmail = $event.toString()"
                            type="text"
                            placeholder="cgarcia@dscs.com"
                        />

                    </div>

                    <!-- PASSWORD -->
                    <div class="col-span-1 sm:col-span-2">

                        <app-label>
                            Contraseña
                        </app-label>

                        <app-input-field
                            [value]="userPassword"
                            (valueChange)="userPassword = $event.toString()"
                            [type]="showPassword ? 'text' : 'password'"
                            placeholder="Password"
                        />

                    </div>

                    <!-- ROL -->
                    <div class="col-span-1 sm:col-span-2">

                        <app-label>
                            Rol
                        </app-label>

                        <app-select
                            [options]="roleOptions"
                            placeholder="Selecciona un rol"
                            [value]="userRole"
                            [defaultValue]="userRoles.User"
                            (valueChange)="handleRoleChange($event)"
                            className="dark:bg-dark-900"
                        />

                    </div>

                </div>

                <!-- BOTONES -->
                <div class="flex items-center justify-end w-full gap-3 mt-6">

                    <app-button
                        size="sm"
                        variant="outline"
                        (btnClick)="closeAddUser()"
                    >
                        Cerrar
                    </app-button>

                    <app-button
                        size="sm"
                        (btnClick)="handleAddUser()"
                    >
                        Guardar
                    </app-button>

                </div>

            </form>

        </app-modal>

    </div>

    <!-- TABLA -->
    <div class="max-w-full overflow-x-auto">

        <table class="min-w-full">

            <!-- HEADER -->
            <thead class="border-b border-gray-100 dark:border-white/[0.05]">

                <tr>

                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs">
                        ID
                    </th>

                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs">
                        Nombre
                    </th>

                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs">
                        Email
                    </th>

                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs">
                        Rol
                    </th>

                    <th class="px-5 py-3"></th>

                </tr>

            </thead>

            <!-- BODY -->
            <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">

                @if (users.length === 0) {

                    <tr>

                        <td
                            colspan="5"
                            class="px-5 py-8 text-center text-gray-500 dark:text-gray-400"
                        >
                            No hay usuarios registrados
                        </td>

                    </tr>

                } @else {

                    @for (user of users; track user.id_usuario) {

                        <tr class="hover:bg-gray-50 dark:hover:bg-gray-600 transition">

                            <!-- ID -->
                            <td class="px-5 py-4 text-start dark:text-white/90">
                                {{ user.id_usuario }}
                            </td>

                            <!-- NOMBRE -->
                            <td class="px-4 py-3 text-start dark:text-white/90">
                                {{ user.nombre }}
                            </td>

                            <!-- EMAIL -->
                            <td class="px-4 py-3 text-start dark:text-white/90">
                                {{ user.correo }}
                            </td>

                            <!-- ROL -->
                            <td class="px-4 py-3 text-start dark:text-white/90">
                                {{ getRole(user.rol) | titlecase }}
                            </td>

                            <!-- MENU -->
                            <td class="px-4 py-4">

                                <div class="relative inline-block">

                                    <app-table-dropdown>

                                        <!-- BOTON -->
                                        <div dropdown-button>

                                            <button class="text-gray-500">

                                                <svg
                                                    class="fill-current"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                >

                                                    <path
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M5.99902 10.245C6.96552 10.245 7.74902 11.0285 7.74902 11.995V12.005C7.74902 12.9715 6.96552 13.755 5.99902 13.755C5.03253 13.755 4.24902 12.9715 4.24902 12.005V11.995C4.24902 11.0285 5.03253 10.245 5.99902 10.245ZM17.999 10.245C18.9655 10.245 19.749 11.0285 19.749 11.995V12.005C19.749 12.9715 18.9655 13.755 17.999 13.755C17.0325 13.755 16.249 12.9715 16.249 12.005V11.995C16.249 11.0285 17.0325 10.245 17.999 10.245ZM13.749 11.995C13.749 11.0285 12.9655 10.245 11.999 10.245C11.0325 10.245 10.249 11.0285 10.249 11.995V12.005C10.249 12.9715 11.0325 13.755 11.999 13.755C12.9655 13.755 13.749 12.9715 13.749 12.005V11.995Z"
                                                        fill=""
                                                    />

                                                </svg>

                                            </button>

                                        </div>

                                        <!-- OPCIONES -->
                                        <div dropdown-content>

                                            <!-- EDITAR -->
                                            <button
                                                (click)="editUser(user)"
                                                class="text-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                                            >
                                                Editar
                                            </button>

                                            <!-- ELIMINAR -->
                                            <button
                                                (click)="deleteUser(user)"
                                                class="text-xs flex w-full rounded-lg px-3 py-2 text-left font-medium text-red-500 hover:bg-red-100 hover:text-red-700"
                                            >
                                                Eliminar
                                            </button>

                                        </div>

                                    </app-table-dropdown>

                                </div>

                            </td>

                        </tr>

                    }

                }

            </tbody>

        </table>

    </div>

</div>