<div>
    @if (changelogs.length === 0) {
        <div class="text-gray-500">
            No hay cambios registrados.
        </div>
    } @else {
        <ul class="space-y-4">
            <li *ngFor="let changelog of changelogs" class="p-4 bg-white dark:bg-gray-800 dark:text-white rounded-lg shadow">
                <p class="text-sm text-gray-600 mb-1">{{ changelog.fecha | date:'long' }}</p>
                <p class="text-base text-gray-800 dark:text-white">[{{ executor(changelog) }}] {{ changelog.descripcion }}</p>
                @if (changelog.old && changelog.new) {
                    <p class="text-sm text-gray-500 mt-2">{{ changelog.old | json }} ➡️ {{ changelog.new | json }}</p>
                }

                @if (!changelog.old && changelog.new) {
                    <p class="text-sm text-gray-500 mt-2">{{ changelog.new | json }}</p>
                }
            </li>
        </ul>
    }
</div>