<div class="w-full max-w-md pt-10 mx-auto">

  <a
    routerLink="/"
    class="inline-flex items-center text-sm text-gray-500 transition-colors hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300"
  >
    ← Volver
  </a>

</div>

<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">

  <div>

    <!-- TITLE -->
    <div class="mb-5 sm:mb-8">

      <h1
        class="mb-2 font-semibold text-gray-800 text-title-sm dark:text-white sm:text-title-md"
      >
        DSCS Login
      </h1>

      <p class="text-sm text-gray-500 dark:text-gray-400">
        Ingresa tus credenciales para acceder.
      </p>

    </div>

    <!-- FORM -->
    <form (ngSubmit)="onSignIn()" class="space-y-6">

      <!-- EMAIL -->
      <div>

        <app-label>
          Correo
          <span class="text-error-500">*</span>
        </app-label>

        <app-input-field
          type="email"
          placeholder="admin@dscs.com"
          [(ngModel)]="email"
          name="email"
          required
        />

      </div>

      <!-- PASSWORD -->
      <div>

        <app-label>
          Contraseña
          <span class="text-error-500">*</span>
        </app-label>

        <div class="relative">

          <app-input-field
            [type]="showPassword ? 'text' : 'password'"
            placeholder="123456"
            [(ngModel)]="password"
            name="password"
            required
          />

          <span
            (click)="togglePasswordVisibility()"
            class="absolute z-30 cursor-pointer right-4 top-1/2 -translate-y-1/2"
          >
            {{ showPassword ? '👁️' : '🙈' }}
          </span>

        </div>

      </div>

      <!-- CHECKBOX -->
      <!-- <div class="flex items-center justify-between">

        <app-checkbox
          [(checked)]="isChecked"
          label="Mantener sesión iniciada"
        />

        <a
          routerLink="/reset-password"
          class="text-sm text-brand-500 hover:text-brand-600"
        >
          ¿Olvidaste tu contraseña?
        </a>

      </div> -->

      <!-- BUTTON -->
      <app-button
        className="w-full"
        size="sm"
        (btnClick)="onSignIn()"
      >
        Iniciar sesión
      </app-button>

    </form>
  </div>

</div>